@model IEnumerable<JsonApiClient.Models.Person>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="row">
	    <div class="col-sm-4">
			Id
		</div>
		<div class="col-sm-4">
			Name
		</div>
        <div class="col-sm-4">
			Parent
		</div>
    </div>
    @foreach (var person in Model)
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayFor(modelItem => person.Id)
            </div>
            <div class="col-sm-4">
                @Html.DisplayFor(modelItem => person.Name)
            </div>
		    <div class="col-sm-4">
                @Html.DisplayFor(modelItem => person.Parent.Data.Name)
            </div>
        </div>
    }
</div>

<div>
    <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="PostRandomPerson">Post a new person!</a>
</div>